@tailwind base;
@tailwind components;
@tailwind utilities;
/* Placeholder styling */
[contenteditable="true"].is-empty::before {
    content: attr(data-placeholder);
    color: #9CA3AF;
    opacity: 0.5;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    font-weight: bold;
    pointer-events: none; /* Prevent interaction */
}

/* When focused, hide the placeholder */
[contenteditable="true"]:focus::before {
    content: '';
}
#typographyDropdown{
    @apply z-40;
}
